# Prevent automatic execution of install scripts
ignore-scripts=true

save-exact=true
audit=true
audit-level=high
engine-strict=true
prefer-offline=true
min-release-age=7
fund=false
registry=https://registry.npmjs.org/
strict-ssl=true
loglevel=error
update-notifier=false
package-lock=true
lockfile-version=3
